<header class="header">

<div class="container nav">

<div class="logo"><a href="https://biocelllife.com/"><img src="assets/img/logo/bio-cell-horiz.svg" alt="Bio Cell Life Logo" width="170px"></a></div>

<nav class="navbar" role="navigation">

<div class="nav-container">

<div class="hamburger" id="hamburger" aria-label="Toggle Menu" aria-expanded="false">
<div class="bar"></div>
<div class="bar"></div>
<div class="bar"></div>
</div>

<ul class="nav-menu" id="nav-menu">

<li class="dropdown">

<a href="#" aria-haspopup="true">Services</a>

<ul class="dropdown-menu">
    <li><a href="/wound-care.html">Wound Care</a></li>
    <li><a href="/pain-management.html">Pain Management</a></li>
</ul>

</li>

<li class="dropdown">

<a href="#" aria-haspopup="true">Supplements</a>

<ul class="dropdown-menu">
    <li><a href="https://n1o1.com/product/n1o1-nitric-oxide-lozenges-bundle/" target="_blank">Lozenges</a></li>
    <li><a href="https://n1o1.com/product/n-o-beetz/" target="_blank">N.O. Beetz</a></li>
</ul>

</li>

<li class="dropdown">

<a href="#" aria-haspopup="true">Zinzino</a>

<ul class="dropdown-menu">
    <li><a href="https://www.zinzino.com/shop/site/US/en-US/products/premier-kits/balance-tests-kits/910465" target="_blank">Balance Test Kit</a></li>
    <li><a href="https://www.zinzino.com/2021257490/us/en-us/" target="_blank">All Products</a></li>
</ul>

</li>

<li><a href="/about.html">Our Story</a></li>
<li><a href="/contact.html">Contact Us</a></li>

</ul>

</div>

</nav>

<!-- <a class="btn-primary">Schedule Appointment</a> -->

</div>

</header>